<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Dashboard</title>
     <link rel="stylesheet" href="/static/css/style.css">
     <script src="/static/js/script.js"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
               <a class="navbar-brand" href="#">Mass Shootings Prevention</a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                         <li class="nav-item">
                              <a class="nav-link" href="/">Understanding the Scope</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/">Examining the Problem</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/">Promoting Solutions</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/">Taking Action</a>
                         </li>
                         <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                   Resources
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="resourcesDropdown">
                                   <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                                   <li><a class="dropdown-item" href="/story">Survivor Story</a></li>
                                   <li><a class="dropdown-item" href="/report">Annual Report</a></li>
                              </ul>
                         </li>
                    </ul>
               </div>
          </div>
     </nav>
     <div class="container">
          <iframe src="https://us1.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FNew%2Bdashboard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model0000018919bd2e68_00000001" width="1200" height="800" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
     </div>


</body>
</html>